@font-face {
  font-family: "iconfont"; /* Project id 4369748 */
  src: url('iconfont.woff2?t=1719221624385') format('woff2'),
       url('iconfont.woff?t=1719221624385') format('woff'),
       url('iconfont.ttf?t=1719221624385') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Smile:before {
  content: "\e614";
}

.icon-wenjianjia:before {
  content: "\e630";
}

.icon-yuyin:before {
  content: "\e8f7";
}

.icon-adduser:before {
  content: "\e643";
}

.icon-dengchu:before {
  content: "\eb45";
}

.icon-yonghuguanli_huaban:before {
  content: "\e62d";
}

.icon-chat:before {
  content: "\e69d";
}

